.cart-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}



.temp-div{
    width: 60%;
    height: 45px;
    border: 1px solid #DCDCDC;
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.temp-text{
    font-size: 20px;
    color: #707070;
}