.cart-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 50px 0px;
}

.my-cart {
  width: 60%;
  height: auto;
  border: 1px solid #dcdcdc;
  padding: 10px 50px;
  .c-up {
    display: flex;
  }
  .c-down {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
  display: flex;
  flex-direction: column;
}

.place-o-button,
.cont-button,
.check-button {
  width: 20%;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #3371b5;
  cursor: pointer;
  border: 2px solid #3371b5;
  transition: box-shadow 0.3s ease;
}

.place-o-button:hover,
.cont-button:hover,
.check-button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.c-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.c-right {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.mc-text {
  font-size: 23px;
  font-weight: 600;
}

.temp-div {
  width: 60%;
  height: 45px;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  padding: 10px 50px;
}

.temp-text {
  font-size: 20px;
  color: #707070;
}

.address-bar {
  width: 50%;
  height: 50px;
}

.address-div,
.order-div {
  width: 60%;
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.ad-up {
  display: flex;
}

.ad-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ad-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.ad-down {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.ad-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-home {
  width: 60%;
  height: 40px;
  font-size: 18px;
  color: #a03037;
  background-color: white;
  border: 1px solid #a03037;
  cursor: pointer;
}

.cust-text {
  font-size: 23px;
  font-weight: 600;
}

.ad-1,
.ad-3 {
  display: flex;
  gap: 10px;
}

.ad-2,
.ad-4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ad-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ad-txt {
  font-size: 16px;
  font-weight: 500;
}

.radio-btn {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.ad-input-large {
  border: 2px solid #dcdcdc;
  height: 70px;
  padding: 5px;
  font-size: 16px;
}

.ad-input {
  height: 35px;
  border: 2px solid #dcdcdc;
  padding: 5px;
  font-size: 16px;
}

.rad-lab {
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

.o-summary {
  font-size: 23px;
  font-weight: 600;
}

.o-down {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
