.w-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0px;
}

.my-w{
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 0px 20px;
    border: 1px solid #E4E4E4;
}

.w-card{
    width: 70%;
    padding: 0px 20px;
    border: 1px solid #E4E4E4;
}

.w-text{
    font-size: 22px;
    font-weight: 500;
}

.no-item-wish{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    .no-wish{
        font-size: 22px;
        color: #333232;
    }
}
